@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #525050;
}
.cup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 190px;
  border: 6px solid #525050;
  border-top: 2px solid transparent;
  border-radius: 55px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(coffee.png);
  background-repeat: repeat-x;
  animation: animate 10s linear infinite;
  box-shadow: 0 0 0 4px #fff, 0 20px 35px rgba(0, 0, 0, 1);
}
.cup:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 100px;
  border: 6px solid #fff;
  right: -58px;
  top: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 50px;
}
@keyframes animate{
  0%{
    background-position: 0 100px;
  }
  10%{
    background-position: 0 100px;
  }
  40%{
    background-position: 700px -70px;
  }
  80%{
    background-position: 1700px -80px;
  }
  100%{
    background-position: 2200px 100px;
  }
}